.transaction-container {
  /* max-width: 300px; */
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
}

.transaction-table {
  table-layout: fixed;
  width: 100%;
}

.transaction-table th,
.transaction-table td,
.transaction-table td span {
  padding: 7px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.value-column {
  width: 15%;
}

thead th {
    background-color: rgba(44, 56, 69, 0.94);
    color: #fff;
    border: 1px solid rgba(44, 56, 69, 0.54);
}


